<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suhong.board.mapper.CommentMapper">

  <select id="getList" resultType="com.suhong.board.domain.CommentVO">
    select * from tbl_comment where bno = #{bno} order by bno asc
  </select>

  <insert id="register">
    insert into tbl_comment (bno, commentText, commenter)
    values (#{bno}, #{commentText}, #{commenter})
  </insert>

  <select id="getCommentCount" resultType="int">
    select count(*) from tbl_reply where bno = #{bno} and rno > 0
  </select>
</mapper>